@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --wg-z-dialog: 1000000;
  --wg-z-overlay: 1000000;
}

.file-uploader {
  min-width: 100% !important;
  border-radius: 12px !important;
  border: dashed 2px #27272a !important;
  padding: 16px !important;
}

.file-uploader > svg {
  display: none !important;
}

.file-uploader > div > span {
  font-size: 14px !important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
